<h2 mat-dialog-title class="text-xl font-bold text-center !w-[20rem] py-4">XÁC NHẬN HỦY VÉ</h2>

<mat-dialog-content class="px-6 pb-4 !w-[20rem]">
  <div class="mb-4">
    <p class="font-semibold text-gray-700 mb-3">Chọn lý do hủy:</p>
    <mat-radio-group [(ngModel)]="selectedReason" class="grid gap-3">
      <mat-radio-button value="Không thể đi" class="radio-item">Không thể đi</mat-radio-button>
      <mat-radio-button value="Đổi kế hoạch" class="radio-item">Đổi kế hoạch</mat-radio-button>
      <mat-radio-button value="Sự cố cá nhân" class="radio-item">Sự cố cá nhân</mat-radio-button>
      <mat-radio-button value="Lý do sức khỏe" class="radio-item">Lý do sức khỏe</mat-radio-button>
      <mat-radio-button value="Khác" class="radio-item">Khác</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field *ngIf="selectedReason === 'Khác'" class="w-full">
    <textarea matInput [(ngModel)]="otherReason" 
              placeholder="Nhập lý do khác..."
              rows="3"
              class="border rounded-md p-3 w-full"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end" class="px-6 pb-4">
  <button mat-button (click)="onCancel()" class="mr-2 px-4 py-1 border border-gray-300 rounded">Hủy</button>
  <button mat-raised-button color="warn" (click)="onConfirm()" class="px-4 py-1 rounded">Xác nhận</button>
</mat-dialog-actions>