/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


html, body { height: 100%;background-color: #e2e8ef; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; background-color: #e2e8ef;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pageWrapper{
padding: 10px !important;
}

header #homeHeader{
   display: none;
}
body:has(#home) header,
body:has(#booktickets) header,
body:has(#busDetail) header {
    background-image: url('/assets/images/backgrounds/background.webp');
    min-height: 35rem;
    background-size: cover;
    color: white !important;

}

body:has(#home) header #homeHeader,
body:has(#booktickets) header #homeHeader,
body:has(#busDetail) header #homeHeader{
   display: flex;
}
#flash-success {
   position: fixed;
   top: 20px;
   right: 10px;
   z-index: 1000;
   max-width: max-content;
   padding: 15px 20px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   animation: slideIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;
   background: white;
   border-radius: 5px;
   box-shadow: 1px 1px 1px rgb(172, 172, 172);
   color: green !important;
   font-weight: 700;
   border-left: 5px solid green;
 }
 
 #flash-error {
   position: fixed;
   top: 20px;
   right: 10px;
   z-index: 1000;
   max-width: max-content;
   padding: 15px 20px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
   background: white;
   border-radius: 5px;
   box-shadow: 1px 1px 1px rgb(172, 172, 172);
   color: red !important;
   font-weight: 700;
   border-left: 5px solid red;
  animation: slideIn 0.5s forwards, fadeOut 0.5s 2.5s forwards !important;
 }
 
 @keyframes slideIn {
   from {
     transform: translateY(120%);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
 @keyframes fadeOut {
   from {
     opacity: 1;
   }
 
   to {
     opacity: 0;
   }
 }
header{
  color: white !important;
}
#home {

   .content {
    background-image: url('/assets/images/backgrounds/area-banner-vn.webp');
      background-size: cover;
     background-position: center;
      height: 34rem;
   }

   @keyframes busMove {
      0% {
         left: 100%;
         opacity: 1;
      }

      100% {
         left: 60%;
         transform: translateX(-40%);
         opacity: 1;
      }
   }

   .bus-move {
      animation: busMove 5s ease-out forwards;
   }

}
