<main class="history mt-[11%] mb-[1%]">
    <div class="flex w-[80%] mx-auto">
        <div class="w-[20%] bg-gray-100 p-10 rounded-md border border-gray-200">
            <app-navbar></app-navbar>
        </div>
        <div class="w-[80%] bg-white p-10 rounded-md ml-4">
            <h1 class="text-3xl font-bold">Lịch sử đặt vé</h1>
            <p class="text-gray-600">Theo dõi và quản lý quá trình lịch sử mua vé của bạn.</p>

            <div class="p-2 mt-1">
                <div *ngFor="let ticket of ticketHistory"
                    class="bg-white shadow-lg rounded-lg my-5 flex border border-gray-300">
                    <div class="w-2/3 border-r border-dashed border-gray-400">
                        <div class="text-white font-mono rounded-tl-lg text-lg font-bold bg-[#043175] px-3 py-3">
                            Mã vé: {{ ticket.code }}
                        </div>
                        <div class="text-gray-800 font-mono text-lg font-bold px-3">Giá vé: <span
                                class="float-right">Khởi hành: {{ ticket.departure }}</span></div>
                        <div class="text-xl font-bold text-gray-900 px-3">{{ ticket.price | number:'1.0-0' }} VNĐ <span
                                class="float-right">{{ ticket.date }}</span></div>

                        <div class="mt-2 flex justify-between px-3">
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Nơi đi</p>
                                <p class="text-lg font-bold">{{ ticket.from }}</p>
                            </div>
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Ghế</p>
                                <p class="text-lg font-bold">{{ ticket.seat }}</p>
                            </div>
                        </div>

                        <div class="mt-2 flex justify-between px-3">
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Nơi đến</p>
                                <p class="text-lg font-bold">{{ ticket.to }}</p>
                            </div>

                        </div>
                        <div class="mt-2 flex justify-between  px-3">
                            <p class="text-gray-700 font-mono text-sm">Hình thức thanh toán</p>
                            <div >
                                <p class="text-md text-gray-700 " *ngIf="ticket.payment === 'cash'">Thanh toán khi nhận vé</p>
                                <p class="text-md text-gray-700 " *ngIf="ticket.payment === 'vnpay'">Thanh toán qua VNPay</p>
                            </div>
                        </div>


                    </div>
                    <div class="w-1/3 p-6">
                        <div class="flex justify-between items-center mb-4">
                            <b>{{
                                ticket.status === 'pending' ? 'Chưa khởi hành' :
                                ticket.status === 'confirmed' ? 'Đã nhận vé' :
                                ticket.status === 'canceled' ? 'Đã hủy' :
                                ticket.status
                                }}</b>
                            <button *ngIf="ticket.status === 'pending'"
                                class="bg-red-400 text-white px-4 py-2 font-mono rounded-md hover:bg-red-600"
                                (click)="openCancelDialog(ticket.id, ticket.startDate  )">Hủy vé</button>
                            <span *ngIf="ticket.status === 'confirmed'" class="text-green-600">Đã nhận vé</span>
                            <span *ngIf="ticket.status === 'canceled'" class="text-red-600">Đã hủy</span>
                        </div>

                        <div class="border-b border-gray-400 my-4"></div>

                        <table class="w-full">
                            <tr class="">
                                <td class="py-2 text-left text-gray-700 font-mono text-sm">Tên</td>
                                <td class="py-2 text-right font-bold">{{ ticket.name }}</td>
                            </tr>
                            <tr class="">
                                <td class="py-2 text-left text-gray-700 font-mono text-sm">Nơi đi</td>
                                <td class="py-2 text-right text-gray-600">{{ ticket.from }}</td>
                            </tr>
                            <tr class="">
                                <td class="py-2 text-left text-gray-700 font-mono text-sm">Nơi đến</td>
                                <td class="py-2 text-right text-gray-600">{{ ticket.to }}</td>
                            </tr>

                            <tr>
                                <td class="py-2 text-left text-gray-700 font-mono text-sm">Ghế</td>
                                <td class="py-2 text-right font-bold">{{ ticket.seat }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>