<main class="history mt-[11%] mb-[1%]">
    <div class="flex w-[80%] mx-auto">
        <div class="w-[20%] bg-gray-100 p-10 rounded-md border border-gray-200">
            <app-navbar></app-navbar>
        </div>
        <div class="w-[80%] bg-white p-10 rounded-md ml-4">
            <h1 class="text-3xl font-bold">Lịch sử đặt vé</h1>
            <p class="text-gray-600">Theo dõi và quản lý quá trình lịch sử mua vé của bạn.</p>

            <div class="p-2 mt-1">
                <div *ngFor="let ticket of ticketHistory"
                    class="bg-white shadow-lg rounded-lg my-5 flex border border-gray-300">
                    <form action="/ticket/update/{{ticket.id}}" class="w-2/3 border-r border-dashed border-gray-400">
                        <div class="text-white font-mono rounded-tl-lg text-lg font-bold bg-[#043175] px-3 py-3">
                            Mã vé: {{ ticket.code }}
                        </div>
                        <div class="text-gray-800 font-mono text-lg font-bold px-3">Giá vé: <span
                                class="float-right">Tàu: {{ ticket.train }}</span></div>
                        <div class="text-xl font-bold text-gray-900 px-3">{{ ticket.price }} VNĐ <span
                                class="float-right">{{ ticket.train }}</span></div>

                        <div class="mt-2 flex justify-between px-3">
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Nơi đi</p>
                                <p class="text-lg font-bold">{{ ticket.from }}</p>
                            </div>
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Khởi hành</p>
                                <p class="text-lg font-bold">{{ ticket.departure }}</p>
                            </div>
                        </div>

                        <div class="mt-2 flex justify-between px-3">
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Nơi đến</p>
                                <p class="text-lg font-bold">{{ ticket.to }}</p>
                            </div>
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Đến nơi</p>
                                <p class="text-lg font-bold">{{ ticket.arrival }}</p>
                            </div>
                        </div>

                        <div class="mt-2 flex justify-between p-3">
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Ngày</p>
                                <p class="text-lg font-bold">{{ ticket.date }}</p>
                            </div>
                            <div>
                                <p class="text-gray-700 font-mono text-sm">Ghế</p>
                                <p class="text-lg font-bold">{{ ticket.seat }}</p>
                            </div>
                        </div>
                    </form>
                    <div class="w-1/3 p-6 text-center">
                        <div class="flex justify-between align-items-center">
                            <b>{{ ticket.status }}</b>
                            <button class="bg-red-400 text-white px-4 py-2 font-mono rounded-md hover:bg-red-600"
                                (click)="cancelModal.openCancelModal(ticket.id)">Hủy vé</button>
                        </div>
                        <div class="border-b border-gray-400 my-4"></div>

                        <div class="flex justify-between">
                            <p class="text-gray-700 font-mono text-sm">Tên</p>
                            <p class="text-lg font-bold">{{ ticket.name }}</p>
                        </div>

                        <div class="flex justify-between mt-4">
                            <p class="text-gray-700 font-mono text-sm">Nơi đi</p>
                            <p class="text-lg font-bold">{{ ticket.from }}</p>
                        </div>

                        <div class="flex justify-between mt-4">
                            <p class="text-gray-700 font-mono text-sm">Nơi đến</p>
                            <p class="text-lg font-bold">{{ ticket.to }}</p>
                        </div>

                        <div class="flex justify-between mt-4">
                            <p class="text-gray-700 font-mono text-sm">Tàu</p>
                            <p class="text-lg font-bold">{{ ticket.train }}</p>
                        </div>

                        <div class="flex justify-between mt-4">
                            <p class="text-gray-700 font-mono text-sm">Ghế</p>
                            <p class="text-lg font-bold">{{ ticket.seat }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-form-cancel #cancelModal></app-form-cancel>
</main>