<form (ngSubmit)="onSave()" action="">
    <main class="flex-1 p-[2rem] bg-white shadow-xl rounded-xl">
        <h2 class="text-2xl font-bold text-gray-800 mb-8">Thông tin tuyến đường</h2>

        <div class="space-y-8 p-[20px] ">
            <div class="grid grid-cols-1 gap-6 mt-5">
                <div>
                    <label class="block font-medium text-gray-700 mb-2">Điểm xuất phát</label>
                    <input type="text" [formControl]="startPoint" placeholder="Vui lòng nhập điểm xuất phát"
                        [ngClass]="{ 'border-red-500': startPoint.invalid && startPoint.touched }"
                        class="border border-gray-300 rounded-lg w-full px-4 py-3 focus:border-transparent focus:ring-2 focus:ring-orange-500 transition">
                    <div *ngIf="startPoint.invalid && startPoint.touched" class="text-red-500 mt-2">
                        <span *ngIf="startPoint.errors?.['required']">Không được bỏ trống.</span>
                        <span *ngIf="startPoint.errors?.['minlength']">Phải có ít nhất 5 ký tự.</span>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-6 mt-5">
                <div>
                    <label class="block font-medium text-gray-700 mb-2">Điểm đến</label>
                    <input type="text" [formControl]="endPoint" placeholder="Vui lòng nhập điểm đến"
                        [ngClass]="{ 'border-red-500': endPoint.invalid && endPoint.touched }"
                        class="border border-gray-300 rounded-lg w-full px-4 py-3 focus:border-transparent focus:ring-2 focus:ring-orange-500 transition">
                    <div *ngIf="endPoint.invalid && endPoint.touched" class="text-red-500 mt-2">
                        <span *ngIf="endPoint.errors?.['required']">Không được bỏ trống.</span>
                        <span *ngIf="endPoint.errors?.['minlength']">Phải có ít nhất 5 ký tự.</span>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-6 mt-5">
                <div>
                    <label class="block font-medium text-gray-700 mb-2">Quãng đường (km)</label>
                    <input type="text" [formControl]="distance" placeholder="Vui lòng nhập quãng đường"
                        [ngClass]="{ 'border-red-500': distance.invalid && distance.touched }"
                        class="border border-gray-300 rounded-lg w-full px-4 py-3 focus:border-transparent focus:ring-2 focus:ring-orange-500 transition">
                    <div *ngIf="distance.invalid && distance.touched" class="text-red-500 mt-2">
                        <span *ngIf="distance.errors?.['required']">Không được bỏ trống.</span>
                        <span *ngIf="distance.errors?.['pattern']">Phải nhập số.</span>
                    </div>
                </div>
            </div>

            <div class="flex justify-end space-x-4">
                <button type="submit"
                    class="px-6 py-3 bg-orange-500 text-white rounded-lg font-semibold hover:bg-orange-600 transition">
                    Thêm quãng đường
                </button>
            </div>
        </div>
    </main>
</form>
