<div class=" mb-2 bg-white px-4 py-2 rounded shadow-md">
  <div class="flex gap-2 justify-between">
  <h3 class="font-bold text-2xl m-b-10 text-gray-500">Danh sách</h3>
  <app-form-search (search)="handleSearch($event)"></app-form-search>
</div>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Chưa trả lời">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden w-full border-collapse">
      <table mat-table [dataSource]="dataSource" class="w-full border-collapse text-center">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">STT</span>
          </th>
          <td mat-cell *matCellDef="let contact; let i = index" class="px-4 py-2">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">Câu Hỏi</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">{{ contact.question }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">Người Gửi</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">{{ contact.email }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">Trạng thái</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">
            <span
              [ngClass]="{'bg-green-100 text-green-700': contact.status === 1, 'bg-red-100 text-red-700': contact.status === 0}"
              class="px-2 py-1 rounded">
              {{ contact.status === 1 ? 'Đã trả lời' : 'Chưa trả lời' }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2 w-[13%]">
            <span class="font-bold text-gray-500">Hành Động</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">
            <a [routerLink]="['/admin/contactReply', contact.id]" *ngIf="contact.status === 0"
              class="bg-green-100 text-green-700 px-4 py-2 rounded flex items-center gap-2 hover:bg-green-200 transition text-center">
              <mat-icon class="mr-2">message</mat-icon>
              Trả lời
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="border-b"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
      </table>
      <mat-paginator class="bg-gray-100 py-3" [pageSizeOptions]="[10, 25, 50, 100]"
        showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="Đã trả lời">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden w-full border-collapse">
      <table mat-table [dataSource]="dataSource" class="w-full border-collapse text-center">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">STT</span>
          </th>
          <td mat-cell *matCellDef="let contact; let i = index" class="px-4 py-2">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">Câu Hỏi</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">{{ contact.question }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">Người Gửi</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">{{ contact.email }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
            <span class="font-bold text-gray-500">Trạng thái</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2">
            <span
              [ngClass]="{'bg-green-100 text-green-700': contact.status === 1, 'bg-red-100 text-red-700': contact.status === 0}"
              class="px-2 py-1 rounded">
              {{ contact.status === 1 ? 'Đã trả lời' : 'Chưa trả lời' }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2 w-[13%]">
            <span class="font-bold text-gray-500">Hành Động</span>
          </th>
          <td mat-cell *matCellDef="let contact" class="px-4 py-2 flex justify-center gap-2">
        
            <a *ngIf="contact.status === 0" [routerLink]="['/admin/contactReply', contact.id]"
              class="bg-green-100 text-green-700 px-4 py-2 rounded flex items-center gap-2 hover:bg-green-200 transition text-center">
              <mat-icon class="mr-2">message</mat-icon>
              Trả lời
            </a>
           
            <a *ngIf="contact.status === 1" [routerLink]="['/admin/contactReply', contact.id]"
              class="bg-blue-100 text-blue-700 px-4 py-2 rounded flex items-center gap-2 hover:bg-blue-200 transition text-center">
              <mat-icon class="mr-2">visibility</mat-icon>
              Xem
            </a>
            <button *ngIf="contact.status === 1" (click)="openDeleteDialog(contact.id)"
              class="bg-red-100 text-red-700 px-4 py-2 rounded flex items-center gap-2 hover:bg-red-200 transition text-center">
              <mat-icon class="mr-2">delete</mat-icon>
              Xoá
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="border-b"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
      </table>
      <mat-paginator class="bg-gray-100 py-3" [pageSizeOptions]="[10, 25, 50, 100]"
        showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
</div>