<form (ngSubmit)="onSave()">
  <main class="flex-1 bg-white p-[2rem] rounded-xl shadow-xl">
    <h2 class="text-2xl text-gray-800 font-bold mb-8">Thêm mới chuyến xe</h2>

    <div class="space-y-8">
      <div class="grid grid-cols-1 gap-6">
        <div>
          <!-- <label class="text-gray-700 block font-medium mb-2">Tuyến đường</label>
          <select [formControl]="route"
            class="border border-gray-300 rounded-lg w-full duration-200 
            focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition"
            [ngClass]="{ 'border-red-500': route.invalid && route.touched }">
            <option value="">------ Chọn tuyến đường --------</option>
            <option *ngFor="let route of routeOptions" [value]="route.id">
              {{route.startPoint}} → {{route.endPoint}} ({{route.distance}}km)
            </option>
          </select>
          <div *ngIf="route.invalid && route.touched" class="text-red-500 mt-2">
            <span *ngIf="route.errors?.['required']">Tuyến đường không được bỏ trống.</span>
          </div> -->
          <label class="text-gray-700 block font-medium mb-2">Tuyến
            đường</label>
          <ng-select
            [items]="routeOptions"
            bindLabel="startPoint"
            bindValue="id"
            [searchable]="true"
            [formControl]="route"
            [placeholder]="route.value ? '' : '------ Chọn tuyến đường ------'"
            class="border border-gray-300 rounded-lg w-full duration-200 
            focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition"
            [ngClass]="{ 'border-red-500': route.invalid && route.touched }">
            <ng-template ng-label-tmp let-item="item">
              {{ item.startPoint }} → {{ item.endPoint }} ({{ item.distance
              }}km)
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              <div class="bg-white px-4 py-2 hover:bg-orange-100 rounded">
                {{ item.startPoint }} → {{ item.endPoint }} ({{ item.distance
                }}km)
              </div>
            </ng-template>
          </ng-select>

          <div *ngIf="route.invalid && route.touched" class="text-red-500 mt-2">
            <span *ngIf="route.errors?.['required']">Tuyến đường không được bỏ
              trống.</span>
          </div>

        </div>

      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="text-gray-700 block font-medium mb-2">Giờ khởi
            hành</label>
          <input type="datetime-local" [formControl]="departure"
            class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition"
            [ngClass]="{ 'border-red-500': departure.invalid && departure.touched }">
          <div *ngIf="departure.invalid && departure.touched"
            class="text-red-500 mt-2">
            <span *ngIf="departure.errors?.['required']">Giờ đi không được bỏ
              trống.</span>
          </div>
        </div>

        <div>
          <label class="text-gray-700 block font-medium mb-2">Tài xế</label>
          <ng-select
            [items]="driversOption"
            bindLabel="fullName"
            bindValue="id"
            [searchable]="true"
            [formControl]="driverID"
            [placeholder]="driverID.value ? '' : '------ Chọn tài xế ------'"
            class="border border-gray-300 rounded-lg w-full duration-200 
            focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition"
            [ngClass]="{ 'border-red-500': driverID.invalid && driverID.touched }">
            <ng-template ng-label-tmp let-item="item">
              {{item.fullName}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              <div class="bg-white px-4 py-2 hover:bg-orange-100 rounded">
                {{item.fullName}}
              </div>
            </ng-template>
          </ng-select>

          <div *ngIf="driverID.invalid && driverID.touched" class="text-red-500 mt-2">
            <span *ngIf="driverID.errors?.['required']">Tuyến đường không được bỏ
              trống.</span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="text-gray-700 block font-medium mb-2">Xe</label>
          <ng-select
            [items]="busesOption"
            bindLabel="plateNumber"
            bindValue="id"
            [searchable]="true"
            [formControl]="busID"
            [placeholder]="busID.value ? '' : '------ Chọn xe ------'"
            class="border border-gray-300 rounded-lg w-full duration-200 
            focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition"
            [ngClass]="{ 'border-red-500': busID.invalid && busID.touched }">
            <ng-template ng-label-tmp let-item="item">
              {{item.plateNumber}}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              <div class="bg-white px-4 py-2 hover:bg-orange-100 rounded">
                {{item.plateNumber}}
              </div>
            </ng-template>
          </ng-select>

          <div *ngIf="busID.invalid && busID.touched" class="text-red-500 mt-2">
            <span *ngIf="busID.errors?.['required']">Tuyến đường không được bỏ trống.</span>
          </div>

        </div>
        <div>
          <label class="text-gray-700 block font-medium mb-2">Giá vé</label>
          <input type="text" [formControl]="price"
            placeholder="Vui lòng nhập giá vé"
            class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition"
            [ngClass]="{ 'border-red-500': price.invalid && price.touched }">
          <div *ngIf="price.invalid && price.touched" class="text-red-500 mt-2">
            <span *ngIf="price.errors?.['required']">Giá vé không được bỏ
              trống.</span>
            <span *ngIf="price.errors?.['pattern']">Giá vé phải là số.</span>
          </div>
        </div>

      </div>

      <div class="flex justify-end space-x-4">
        <button type="submit"
          class="bg-orange-500 rounded-lg text-white duration-200 font-semibold hover:bg-orange-600 px-6 py-3 transition">
          Thêm mới chuyến xe
        </button>
      </div>
    </div>
  </main>
</form>