<form [formGroup]="driverForm" (ngSubmit)="onSave()" class="flex min-vh-90 bg-gray-50 p-8 my-5">
  <aside class="w-1/4 bg-white shadow-xl p-8 rounded-xl mr-6">
    <div class="text-center">
      <div class="relative mb-3">
        <img [src]="selectedFile ? (selectedFile ) : '../../../../../assets/images/profile/driver.jpg'"
          alt="Driver Image" class="w-28 h-28 rounded-full mx-auto shadow-lg border-4 border-orange-100">
        <label class="absolute bottom-0 right-1/2 transform translate-x-12 translate-y-2">
          <input type="file" accept="image/*" (change)="onFileSelected($event)"
            class="absolute inset-0 w-8 h-8 opacity-0 cursor-pointer">
          <span
            class="flex items-center justify-center w-8 h-8 bg-orange-500 text-white rounded-full cursor-pointer hover:bg-orange-600 transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 9a2 2 0 012-2h3l2-2h4l2 2h3a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </span>
        </label>
      </div>
      <h2 class="mt-10 font-medium text-2xl text-gray-800">{{ fullName.value || 'Tên tài xế' }}</h2>
      <p class="text-gray-500 text-lg mt-1">Tài xế</p>
    </div>
  </aside>

  <main class="flex-1 p-8 bg-white shadow-xl rounded-xl">
    <h2 class="text-2xl font-bold text-gray-800 mb-8">Thông tin tài xế</h2>

    <div class="space-y-8">
      <div class="grid grid-cols-1 gap-6 mt-5">
        <div>
          <label class="block font-medium text-gray-700 mb-2">Họ và Tên</label>
          <input type="text" formControlName="fullName" placeholder="Vui lòng nhập họ và tên"
            [ngClass]="{ 'border-red-500': fullName.invalid && fullName.touched }"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 focus:border-transparent transition duration-200">
          <div *ngIf="fullName.invalid && fullName.touched" class="text-red-500 mt-2">
            <span *ngIf="fullName.errors?.['required']">Họ và Tên không được bỏ trống.</span>
            <span *ngIf="fullName.errors?.['minlength']">Họ và Tên phải có ít nhất 6 ký tự.</span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="block font-medium text-gray-700 mb-2">Số Điện Thoại</label>
          <input type="text" formControlName="phone" placeholder="Vui lòng nhập Số Điện Thoại"
            [ngClass]="{ 'border-red-500': phone.invalid && phone.touched }"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 focus:border-transparent transition duration-200">
          <div *ngIf="phone.invalid && phone.touched" class="text-red-500 mt-2">
            <span *ngIf="phone.errors?.['required']">Số điện thoại không được bỏ trống.</span>
            <span *ngIf="phone.errors?.['pattern']">Số điện thoại phải gồm 10 chữ số.</span>
          </div>
        </div>

        <div>
          <label class="block font-medium text-gray-700 mb-2">Số GPLX</label>
          <input type="text" formControlName="licenseNumber" placeholder="Vui lòng nhập số GPLX"
            [ngClass]="{ 'border-red-500': licenseNumber.invalid && licenseNumber.touched }"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 focus:border-transparent transition duration-200">
          <div *ngIf="licenseNumber.invalid && licenseNumber.touched" class="text-red-500 mt-2">
            <span *ngIf="licenseNumber.errors?.['required']">Số GPLX không được bỏ trống.</span>
            <span *ngIf="licenseNumber.errors?.['minlength']">Số GPLX phải có ít nhất 10 ký tự.</span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="block font-medium text-gray-700 mb-2">Số Năm Kinh Nghiệm</label>
          <input type="number" formControlName="experienceYears" placeholder="Vui lòng nhập kinh nghiệm lái xe"
            [ngClass]="{ 'border-red-500': experienceYears.invalid && experienceYears.touched }"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 focus:border-transparent transition duration-200">
          <div *ngIf="experienceYears.invalid && experienceYears.touched" class="text-red-500 mt-2">
            <span *ngIf="experienceYears.errors?.['required']">Số năm kinh nghiệm không được bỏ trống.</span>
            <span *ngIf="experienceYears.errors?.['pattern']">Số năm kinh nghiệm chỉ được chứa số.</span>
          </div>
        </div>
        <div>
          <label class="block font-medium text-gray-700 mb-2">Trạng Thái</label>
          <select formControlName="status"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 focus:border-transparent transition duration-200">
            <option value="active">Hoạt động</option>
            <option value="inactive">Ngừng hoạt động</option>
          </select>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="block font-medium text-gray-700 mb-2">Ngày Sinh</label>
          <input type="date" formControlName="birthDate"
            [ngClass]="{ 'border-red-500': birthDate.invalid && birthDate.touched }"
            class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-500 focus:border-transparent transition duration-200">
          <div *ngIf="birthDate.invalid && birthDate.touched" class="text-red-500 mt-2">
            <span *ngIf="birthDate.errors?.['required']">Ngày sinh không được bỏ trống.</span>
            <span *ngIf="birthDate.errors?.['futureDate']">Ngày sinh phải nhỏ hơn ngày hiện tại.</span>
          </div>
        </div>
        <div>
          <label class="block font-medium text-gray-700 mb-2">Tuổi</label>
          <input type="text" [value]="calculateAge()" disabled
            class="w-full px-4 py-3 border border-gray-200 bg-gray-100 rounded-lg text-gray-500 cursor-not-allowed">
        </div>
      </div>

      <div class="flex justify-end space-x-4">
        <button type="submit" [disabled]="driverForm.invalid && driverForm.touched" [ngClass]="{
    'bg-orange-500 text-white hover:bg-orange-600': !(driverForm.invalid && driverForm.touched),
    'bg-gray-300 text-gray-500 cursor-not-allowed': driverForm.invalid && driverForm.touched
  }" class="px-6 py-3 rounded-lg font-semibold transition duration-200">
          Lưu thay đổi
        </button>
      </div>
    </div>
  </main>
</form>