<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
  </div>

  <div class="bg-white shadow-xl rounded-xl p-8 w-full max-w-3xl mx-auto border border-gray-100">
    <div class="space-y-6">
      <div>
        <label class="block text-sm font-semibold text-gray-700 mb-2">Câu hỏi:</label>
        <p class="text-gray-900 font-medium bg-gray-50 p-3 rounded-lg border border-gray-200">
          {{ questionData?.question }}
        </p>
      </div>
      <div>
        <label class="block text-sm font-semibold text-gray-700 mb-2">Email:</label>
        <p class="text-gray-900 font-medium bg-gray-50 p-3 rounded-lg border border-gray-200">
          {{ questionData?.email }}
        </p>
      </div>
      <div>
        <label class="block text-sm font-semibold text-gray-700 mb-2">Trả lời:</label>
        <textarea
          class="w-full p-4 text-gray-900 border border-gray-300 rounded-lg"
          rows="6"
          placeholder="Nhập câu trả lời của bạn tại đây..."
        ></textarea>
      </div>
      <div class="flex justify-end gap-4">
      <button
         type="button"
         class="px-6 py-2 bg-orange-600 w-1/4 text-white font-medium rounded-lg flex items-center justify-center"
      >
         Gửi <mat-icon class="ml-4">send</mat-icon>
      </button>
      </div>
    </div>
  </div>
</div>