<div class="mat-elevation-z8 mt-5">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold text-gray-500 font-bold">Danh Sách Vé Đã Xác Nhận</h1>

    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">ID</span></th>
            <td mat-cell *matCellDef="let ticket"> {{ ticket.id }} </td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Khách Hàng</span></th>
            <td mat-cell *matCellDef="let ticket"> {{ ticket.userName }} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Số Điện Thoại</span></th>
            <td mat-cell *matCellDef="let ticket"> {{ ticket.phone }} </td>
        </ng-container>

        <ng-container matColumnDef="tripID">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Chuyến Đi</span></th>
            <td mat-cell *matCellDef="let ticket"> {{ ticket.tripID }} </td>
        </ng-container>

        <ng-container matColumnDef="seatID">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Ghế</span></th>
            <td mat-cell *matCellDef="let ticket"> {{ ticket.seatID }} </td>
        </ng-container>

        <ng-container matColumnDef="finalPrice">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Giá Vé</span></th>
            <td mat-cell *matCellDef="let ticket"> {{ ticket.finalPrice | currency:'VND' }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Trạng Thái</span></th>
            <td mat-cell *matCellDef="let ticket">
                <span style="color: green; font-weight: bold;">Đã xác nhận</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2 w-[10%]">
                <span class="text-gray-600 font-bold">Hành Động</span>
            </th>
            <td mat-cell *matCellDef="let review" class="px-4 py-2 flex justify-center space-x-2">
                <button class="m-1 bg-red-100 text-red-700 px-2 py-2 rounded flex items-center">
                    <mat-icon class="text-red-700">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Chọn trang"></mat-paginator>
</div>
