<form action="">
    <main class="flex-1 bg-white p-[2rem] rounded-xl shadow-xl">
        <h2 class="text-2xl text-gray-800 font-bold mb-8">Thêm mới xe</h2>
    
        <div class="space-y-8">
            <div class="mt-2">
                <label class="text-gray-700 block font-medium mb-2">Tuyến đường</label>
                <input type="text" value=""
                  class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition">
            </div>
    
          <div class="grid grid-cols-2 gap-6">
            <div>
              <label class="text-gray-700 block font-medium mb-2">Giờ khởi hành</label>
              <input type="datetime-local" value=""
                class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition">
            </div>
            <div>
              <label class="text-gray-700 block font-medium mb-2">Giờ đến</label>
              <input type="datetime-local" value=""
                class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition">
            </div>
          </div>
    
          <div class="grid grid-cols-2 gap-6">
            <div>
                <label class="text-gray-700 block font-medium mb-2">Giá vé</label>
                <input type="text" value=""
                  class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition">
              </div>
            <div>
              <label class="text-gray-700 block font-medium mb-2">Trạng Thái</label>
              <select
                class="border border-gray-300 rounded-lg w-full duration-200 focus:border-transparent focus:ring-2 focus:ring-orange-500 px-4 py-3 transition">
                <option value="active" selected>Hoạt động</option>
                <option value="inactive">Ngừng hoạt động</option>
              </select>
            </div>
          </div>
    
          <div class="flex justify-end space-x-4">
    
            <button type="submit"
              class="bg-orange-500 rounded-lg text-white duration-200 font-semibold hover:bg-orange-600 px-6 py-3 transition">
              Thêm mới chuyến xe
            </button>
          </div>
        </div>
      </main>
</form>