<div class="mat-elevation-z8 mt-5">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold text-gray-500 font-bold">Danh Sách Vé</h1>
  </div>

  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">ID</span></th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.id }} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Họ và Tên</span></th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.userName }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Số Điện Thoại</span></th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.phone }} </td>
    </ng-container>

    <ng-container matColumnDef="tripID">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Mã Chuyến</span></th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.tripID }} </td>
    </ng-container>

    <ng-container matColumnDef="seatID">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Ghế</span></th>
      <td mat-cell *matCellDef="let ticket" class="font-bold"> {{ ticket.seatID }} </td>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Giá Vé</span></th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.finalPrice | currency:'VND' }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef><span class="text-gray-600 font-bold">Trạng Thái</span></th>
      <td mat-cell *matCellDef="let ticket">
      <span class="px-2 py-1 rounded"
        [ngClass]="{
        'bg-red-100 text-red-700 ': ticket.status === 'Canceled',
        'bg-green-100 text-green-700 ': ticket.status === 'Confirmed',
        'bg-orange-100 text-orange-700 ': ticket.status === 'Pending'
        }">
        {{ ticket.status === 'Canceled' ? 'Đã Hủy' : (ticket.status === 'Confirmed' ? 'Đã Xác Nhận' : 'Đang Chờ') }}
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2 w-[10%]">
        <span class="text-gray-600 font-bold">Hành Động</span>
      </th>
      <td mat-cell *matCellDef="let ticket" class="px-4 py-2 flex justify-center space-x-2">
        <a [routerLink]="['/admin/ticketEdit', ticket.id]"
              class="m-1 bg-yellow-100 text-yellow-700 px-2 py-2 rounded flex items-center">
              <mat-icon class="text-yellow-700">edit</mat-icon>
           </a>
        <button (click)="openDeleteConfirmation(ticket.id)" class="m-1 bg-red-100 text-red-700 px-2 py-2 rounded flex items-center">
          <mat-icon class="text-red-700">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <app-form-delete *ngIf="showDeleteConfirmation" (deleteConfirmed)="handleDeleteConfirmed()"
      (cancel)="handleCancel()"></app-form-delete>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Chọn trang"></mat-paginator>
</div>