<div class="bg-white shadow-lg rounded-lg overflow-hidden w-full border-collapse">
  <div class="flex gap-2 justify-between mb-2 p-10">
    <h3 class="font-bold text-2xl m-b-10 text-gray-500">Danh Sách Đặt Vé</h3>
    <app-form-search (search)="handleSearch($event)"></app-form-search>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="w-full border-collapse text-center">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">ID</span>
      </th>
      <td mat-cell *matCellDef="let element; let i = index" class="px-4 py-2 text-center">
        {{ i +1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">Họ tên</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{element.fullName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">Số điện thoại</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{element.phone}}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">Email</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{element.email}}
      </td>
    </ng-container> -->

    <ng-container matColumnDef="startPoint">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">Điểm xuất phát</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{element.startPoint}}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">Ngày bắt đầu</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{element.startDate | date:'short'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2">
        <span class="font-bold text-gray-500">Giá</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{element.finalPrice | currency:'VND'}}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 px-4 py-2 text-left">
        <span class="font-semibold text-gray-600">Trạng thái</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        <select
          class="px-3 py-1 rounded-md border focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-150"
          [ngClass]="{
            'bg-green-100 text-green-700 font-medium': element.status === 'confirmed',
            'bg-red-100 text-red-700 font-medium': element.status === 'canceled',
            'bg-yellow-100 text-yellow-700 font-medium': element.status === 'pending'
          }"
          (change)="onStatusChange($event, element.id)"
          [value]="element.status"
        >
          <option value="confirmed">Đã nhận vé</option>
          <option value="pending">Chưa nhận vé</option>
          <option value="canceled">Đã Hủy</option>
        </select>
      </td>
    </ng-container> -->
    

    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 px-4 py-2 text-left">
        <span class="font-semibold text-gray-600">Trạng thái</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        <select
          class="px-3 py-1 rounded-md border focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-150"
          [ngClass]="{
            'bg-green-100 text-green-700 font-medium': element.status === 'confirmed',
            'bg-red-100 text-red-700 font-medium': element.status === 'canceled',
            'bg-yellow-100 text-yellow-700 font-medium': element.status === 'pending'
          }"
          (change)="onStatusChange($event, element.id)"
          [value]="element.status"
          [disabled]="element.status !== 'pending'"
        >
          <option value="pending" disabled>Chưa nhận vé</option>
          <option *ngIf="element.status === 'pending'" value="confirmed">Đã nhận vé</option>
          <option *ngIf="element.status === 'pending'" value="canceled">Đã hủy</option>
          <option *ngIf="element.status === 'confirmed'" value="confirmed">Đã nhận vé</option>
          <option *ngIf="element.status === 'canceled'" value="canceled">Đã hủy</option>
        </select>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-200 px-4 py-2 w-[10%]">
        <span class="font-bold text-gray-500">Hành động</span>
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2 flex justify-center space-x-2">
        <a class="m-1 bg-yellow-100 text-yellow-700 px-2 py-2 rounded flex items-center"
          [routerLink]="['/admin/ticketEdit', element.id]">
          <mat-icon class="text-yellow-700">edit</mat-icon>
        </a>
        <button class="m-1 bg-red-100 text-red-700 px-2 py-2 rounded flex items-center"
          (click)="deleteBooking(element.id)">
          <mat-icon class="text-red-700">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="border-b"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
  </table>

  <mat-paginator class="bg-gray-100 py-3" [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons
    aria-label="Chọn trang"></mat-paginator>
</div>