    <ul class="space-y-4">
        <li class="border border-gray-200 rounded-md">
            <a routerLink="/profile" class="block hover:bg-gray-300 p-10 rounded-md">
                <i class="fas fa-user mr-2"></i> Thông tin cá
                nhân</a></li>
        <li class="border border-gray-200 rounded-md"><a routerLink="/history"
                class="block hover:bg-gray-300 p-10 rounded-md"><i class="fas fa-history mr-2"></i> Lịch sử đặt
                vé</a></li>
        <li class="border border-gray-200 rounded-md"><a routerLink="/login"
                class="block hover:bg-gray-300 p-10 rounded-md"><i class="fas fa-sign-out-alt mr-2"></i> Đăng
                xuất</a></li>
    </ul>
